<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MegaJolt.Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MegaJolt.Simulator.Properties.Settings>
            <setting name="Left" serializeAs="String">
                <value>-2147483648</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-2147483648</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>-2147483648</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>-2147483648</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LogMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPropertyChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>4.0.2</value>
            </setting>
            <setting name="EdisType" serializeAs="String">
                <value>EDIS-4</value>
            </setting>
            <setting name="LoadType" serializeAs="String">
                <value>MAP</value>
            </setting>
            <setting name="CrankingAdvance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TriggerWheelOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PipNoiseFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AspirationType" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="IgnitionConfiguration" serializeAs="String">
                <value>Configuration 1</value>
            </setting>
            <setting name="AuxiliaryInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Load" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rpm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserOutput1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserOutput2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserOutput3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserOutput4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserOutputTypes" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="UserOutputModeConfigurations" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UserOutput1Threshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserOutput2Threshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserOutput3Threshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserOutput4Threshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RevLimitThreshold" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="ShiftLightThreshold" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="AuxiliaryInputPeakHoldDecay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DynamicState" serializeAs="String">
                <value>True</value>
            </setting>
        </MegaJolt.Simulator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
