<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PcJolt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <PcJolt.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>-2147483648</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>-2147483648</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>-2147483648</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-2147483648</value>
            </setting>
            <setting name="LoadType" serializeAs="String">
                <value>MAP</value>
            </setting>
            <setting name="AspirationType" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="StartupAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainSplitterDistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OptionsSplitterDistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>150</value>
            </setting>
        </PcJolt.Properties.Settings>
    </userSettings>
</configuration>
